@using System.Web.Optimization
<!DOCTYPE html>
<html>
    <head>
        <title>Кваритры посуточно в Казани</title>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width" />
        <meta name="title" content="@(ViewBag.OgTitle ?? "Квартиры посуточно в Казани"))" />
        @*<link rel="icon" type="image/png" href="~/Images/icon-favicon.png" />*@
        @Styles.Render("~/styles")
        @Scripts.Render("~/libs")
        @Scripts.Render("~/app")
    </head>
    <body>
        @Html.Partial("Layouts");
        @Html.Partial("Templates");
        <input type="hidden" id="token" value="@Html.AntiForgeryToken()" />
        <div id="main">
        </div>
    </body>
</html>